{#{% extends "header.html" %}#}
{% load static %}

{#{% block content %}#}
{##}
{#    <div class="container">#}
        {#        <div class="container">#}
{##}
{#        <div>#}
            {#                {% if validlink %}#}
{#            <h3 class="text-center font-weight-bold mt-0 mb-1em">Enter new password</h3>#}
{#            {% if form.non_field_errors %}#}
{#                <div class="alert alert-danger" role="alert">#}
{#                    {{ form.non_field_errors.0 }}#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#            <form class="" method="post">#}
{#                {% csrf_token %}#}
{#                <p class="text-gray mt-2em">#}
{#                    Please enter your new password twice so we can verify you typed it in#}
{#                    correctly.#}
{#                </p>#}
{#                <div class="form-group ">#}
{#                    <label>New password</label>#}
{#                    <input#}
{#                            name="new_password1"#}
{#                            type="password"#}
{#                            value="{{ form.new_password1.value|default:'' }}"#}
{#                    />#}
{#                    <div class="invalid-feedback">#}
{#                        {{ form.new_password1.errors.0 }}#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="form-group ">#}
{#                    <label>Confirm password</label>#}
{#                    <input#}
{#                            name="new_password2"#}
{#                            type="password"#}
{#                            value="{{ form.new_password2.value|default:'' }}"#}
{#                    />#}
{#                    <div class="invalid-feedback">#}
{#                        {{ form.new_password2.errors.0 }}#}
{#                    </div>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-primary btn-block btn-lg ">#}
{#                    Change my password#}
{#                </button>#}
{##}
{#            </form>#}
            {#                {% else %}#}
{#            <div class="">#}
{#                <p class="">#}
{#                    The password reset link was invalid, possibly because it has already#}
{#                    been used. Please request a new password reset.#}
{#                </p>#}
{#            </div>#}
            {#                {% endif %}#}
{#        </div>#}
        {#        </div>#}
{#    </div>#}
{#{% endblock content %}#}

<!-- Login Start -->
{% block content %}
    <body>

<div class="lgn">
    <div class="txt_lgn">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
    <div class="lg_bck">
        <div id="logreg-forms">
            <form class="form-signin" method="post">{% csrf_token %}

                <label>New password</label>
                <input
                        name="new_password1"
                        type="password"
                />
                <input
                        name="new_password2"
                        type="password"
                />

                <button type="submit" class="btn btn-primary "> Change my password</button>
            </form>


        </div>
    </div>
    {#		<p style="text-align:center"> UNIONMARTBD</p>#}

</div>
    </body>
{% endblock content %}
