{% load static %}
<html lang="en">
<head>
	<title>Unionmartbd</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    {% include 'header.html' %}
</head>
<body class="animsition">

<!-- invoice Srtart -->
<div class="sec-banner bg0 p-t-150 p-b-10">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-10 p-b-30 m-lr-auto">
                <h3 class="text-center">Unionmart.bd</h3> <br> <br>
                <p>Dear Customer, </p>
                <p>Your Order has Been Confirmed. You’re Invoice No.{ } . You will get another email the day before
                    delivery.</p>

                <p>Please check your invoice details. If you have any Confusion Please Contact us before Delivery
                    Confirmation email.
                </p> <br> <br>
                <div>
                    <table class="border col-md-6 col-lg-12 p-b-30 m-lr-auto">
                        <tr>
                            <td class="text-center border" colspan="2"> <b>Customer Information</b></td>
                        </tr>
                        <tr>
                            <td>Invoice No</td>
                            <td> 0111</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td> 0111</td>
                        </tr>
                        <tr>
                            <td>Customer Name</td>
                            <td> name</td>
                        </tr>
                        <tr>
                            <td>Delivery Location</td>
                            <td> 0111</td>
                        </tr>
                        <tr>
                            <td>Phone No</td>
                            <td> 0111</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td> 0111</td>
                        </tr>
                    </table>
                </div>
                <br> <br>
                <div>
                    <table class="border col-md-6 col-lg-12 p-b-30 m-lr-auto">
                        <tr>
                            <td class="text-center border" colspan="5"><b>Order Details</b></td>
                        </tr>
                        <tr>
                            <th>Sl No</th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Amount</th>
                            <th> Taka</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Product Code</td>
                            <td>Product Name</td>
                            <td>1</td>
                            <td>100</td>
                        </tr>
                        <tr class="border">
                            <td colspan="4">Sub Total</td>
                            <td>1200 tk</td>
                        </tr>
                        <tr>
                            <td colspan="4">Delivery Charge</td>
                            <td>60 tk</td>
                        </tr>
                        <tr>
                            <td colspan="4">To Pay</td>
                            <td>1260 tk</td>
                        </tr>
                        <tr>
                            <td colspan="4">Payment Gateway</td>
                            <td>{ Cash on delivery }</td>
                        </tr>

                    </table>
                </div>
                <br> <br> <br>
                <p>Thanks & Regards</p>
                <p>
                <h5>Unionmart.bd</h5>
                <h6>Address: Shop No.B-3, 1-4 Bongshal Road,</h6>
                <h6>(Manoshi Complex) Nowbabpur,Dhaka 1100</h6>
                <h6>Cell: +8801710070681</h6>
                <h6>Web: www.unionmartbd.com</h6>
                <h6>For more information: info@unionmartbd.com </h6>
                </p>

            </div>

        </div>
    </div>
</div>

{% include 'footer.html' %}


    <script type="text/javascript" src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/select2/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/slick-custom.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/parallax100/parallax100.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>

</body>
</html>