{% load static %}
<html lang="en">
<head>
    <title>Unionmartbd</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    {#    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">#}
    {#    <!--===============================================================================================-->#}
    {#    <link rel="stylesheet" type="text/css" href="css/util.css">#}
    {#    <link rel="stylesheet" type="text/css" href="css/main.css">#}
    <!--===============================================================================================-->
    {% include 'header.html' %}
</head>
<body class="animsition">

<div class="container m-t-118">
    <div class="row">
        <div class="col-md-6 col-lg-6 p-b-30 m-lr-auto">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w mt-1 pay-box">
                <h2 class="text-center p-t-5"><b>Pay With {{ payment_pnumber.payment_gateway }}</b></h2> <br> <br>
                <img src="{{ payment_pnumber.image.url }}" alt="IMG-BANNER">
                <br>
                <h4 class="text-center p-t-5"><b>নিম্ন লিখিত নম্বরটিতে টাকা পাঠান </b></h4>
                <h3 class="text-center p-t-5"><b>{{ payment_pnumber.phone_number }}</b></h3>
                <br> <br>

                <div>
                    <form action="{% url 'product:order_payment' %}" method="post">{% csrf_token %}
                        <label class="text-center" for="email"><b>আপনি যে নম্বরটি থেকে টাকা পাঠিয়েছেন তা লিখুন </b></label>
                        <input type="text" name="payment_gateway" required="" hidden value="{{ payment_pnumber.payment_gateway }}">
                        <input style="background-color: #1c94c4" type="tel" class="form-control badge-danger" id="number" name="payment_number" maxlength="11"
                               placeholder="Enter Your {{ payment_pnumber.payment_gateway }} Number" required="">
                        {#                        <input style="color: white" autofocus="" class="form-control bg-primary" id="inputEmail" name="name"#}
                        {#                               placeholder="User Name" required=""#}
                        {#                               type="text">#}
                        <input style="color: white; background-color: #1c94c4" autofocus="" class="form-control" id="inputEmail" name="delivery_location"
                               placeholder="Delivery Location" required=""
                               type="text">
                        <input type="tel" style="color: white; background-color: #1c94c4" autofocus="" class="form-control" id="input_phone" name="contact_number"
                               placeholder="Contact Number" maxlength="11" minlength="11"
                               required=""><br>
                        <label class="p-l-5" for="city" style="color: darkblue">City :
                            <select class="bg-info rounded" name="city" id="">
                                <option value="Dhaka">Dhaka</option>
                                <option value="Rajshahi">Rajshahi</option>
                                <option value="Chottogram">Chottogram</option>
                                <option value="Khulna">Khulna</option>
                                <option value="Sylhet">Sylhet</option>
                                <option value="Barisal">Barisal</option>
                                <option value="Maymensingh">Maymensingh</option>
                                <option value="Rangpur">Rangpur</option>
                            </select>
                        </label>
                        <div style="text-align: center">
                            <button style="background-color: orange" class="btn " type="submit">Confirm Order</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>


    </div>
</div>

{% include 'footer.html' %}

<script type="text/javascript" src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/select2/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/slick-custom.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/parallax100/parallax100.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>

</body>
</html>